<h1>Add a new message:</h1>

<form>
	<app-cron-editor [(activeTab)]="activeTab" (stateChange)="cronState = $event" [cronState]="cronState" (onError)="onCronError($event)" [(cron)]="cron" [(date)]="date" (cronChange)="onCronChange($event)" (dateChange)="onCronChange($event)">
	</app-cron-editor>
	<mat-divider *ngIf="description"></mat-divider>
	<div *ngIf="description" class="infos">
		<p class="desc">{{ description }}</p>
		<button mat-button (click)="expandedMessage = !expandedMessage">Write my message <mat-icon color="accent" [style]="expandedMessage ? 'transform: rotate(180deg) translateY(3px)' : ''">arrow_downward</mat-icon></button>
	</div>
	<mat-divider *ngIf="expandedMessage && description"></mat-divider>
	<div *ngIf="expandedMessage && description" class="message-builder">
		<textarea #textarea [(ngModel)]="message" [ngModelOptions]="{standalone: true}" placeholder="Write your message here..." [mentionConfig]="mentionConfig" (searchTerm)="onInput($event)"></textarea>
		<mat-divider *ngIf="suggestions.length > 0 && inputMode" class="divider-suggestions"></mat-divider>
		<div class="suggestions" *ngIf="suggestions.length > 0 && inputMode">
			<button mat-button class="suggestion-el" *ngFor="let el of suggestions; let i = index" [class.selected]="i === selectedIndex" (click)="onSuggestionsClick(el)">
				{{ inputMode }}{{ el.name }}
			</button>
		</div>
	</div>
	<div class="channel-picker" *ngIf="expandedMessage && description && message.length > 0">
		<mat-select [(ngModel)]="selectedChannel" placeholder="Select your channel" [ngModelOptions]="{standalone: true}">
				<mat-option *ngFor="let item of api.currentGuild!.channels" [value]="item.id">#{{ item.name }}</mat-option>
		</mat-select>
		<button [attr.disabled]="selectedChannel ? null : true" mat-button (click)="addMessage()">Add my message <mat-icon color="accent" class="mat-18">send</mat-icon></button>
	</div>
	<!-- <mat-divider *ngIf="expandedMessage && description && message.length > 0" class="divider-channel-picker"></mat-divider> -->
</form>