.wrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
	app-navbar {
		height: 100%;
		width: 70px;
		display: flex;
		transform: translateX(-90%);
		opacity: 0.2;
		animation: navbar-fade-in 500ms ease-in;
		animation-fill-mode: forwards;
	}
}


@keyframes navbar-fade-in {
	to {
		transform: translateX(0);
		opacity: 1;
	}	
}