.wrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
	app-navbar {
		height: 100%;
		width: 70px;
		display: flex;
		transform: translateX(-30%);
		opacity: 0.2;
		animation: navbar-fade-in 250ms ease;
		animation-fill-mode: forwards;
	}
	::ng-deep {
		app-menu {
			flex: 1;
			overflow: auto;
		}
	}
}


@keyframes navbar-fade-in {
	to {
		transform: translateX(0);
		opacity: 1;
	}	
}