mat-progress-bar {
  position: absolute;
  z-index: 1000;
  top: 0;
  transition: opacity 250ms;

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #F79058 !important;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: #1b1b1b !important;
  }

  ::ng-deep .mat-progress-bar {
    border-radius: 2px;
  }
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  app-navbar {
    height: 100%;
    width: 70px;
    display: flex;
    transform: translateX(-30%);
    opacity: 0.2;
    animation: navbar-fade-in 250ms ease;
    animation-fill-mode: forwards;
  }

  ::ng-deep {

    app-menu,
    app-guild-board,
    app-no-guild {
      flex: 1;
      overflow: auto;
    }
  }
	
  @media (max-width: 650px) {
    flex-direction: column-reverse;
		app-navbar {
			width: 100%;
			height: 70px;
			transform: none;
			flex-direction: column;
			&::before {
				content: '';
				position: absolute;
				right: 0;
				width: 5px;
				height: 100%;
				top: 0;
				background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1) 100%)
			}
		}
  }
}


@keyframes navbar-fade-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
