<!-- Tabs -->
<mat-tab-group dynamicHeight mat-stretch-tabs color="accent" [backgroundColor]="undefined">
	<mat-tab label="Minutes">
		<!-- Minutes-->
		<div class="tab">
			<span>Every</span> 
			<mat-form-field color="accent">
				<mat-label>Minutes</mat-label>
				<input [(ngModel)]="state.minutes.minutes" type="number" matInput min="20" max="59">
			</mat-form-field>
			<span>minute(s)</span>
		</div>
	</mat-tab>
	<mat-tab label="Hourly">
		<!-- Hourly-->
		<div class="tab">
			<span>Every</span>
			<mat-form-field color="accent">
				<mat-label>Hour(s)</mat-label>
				<input [(ngModel)]="state.hourly.hours" type="number" matInput min="1" max="23">
			</mat-form-field>
			<span>hour(s) on minute</span>
			<mat-form-field color="accent">
				<mat-label>Minutes</mat-label>
				<input [(ngModel)]="state.hourly.minutes" type="number" matInput min="0" max="59">
			</mat-form-field>
		</div>
	</mat-tab>
	<mat-tab label="Daily">
		<!-- Daily-->
		<mat-radio-group (change)="regenerateCron()">
			<div class="tab">
				<mat-radio-button checked="true" #radioDailyDay value="everyDays" (change)="state.daily.subTab = $event.value"></mat-radio-button>
				<span>Every</span>
				<mat-form-field color="accent">
					<mat-label>Days</mat-label>
					<input [disabled]="!radioDailyDay.checked" [(ngModel)]="state.daily.everyDays.days" type="number" matInput min="0" max="23">
				</mat-form-field>
				<span>day(s) at</span>
				<app-time-picker [disabled]="!radioDailyDay.checked" [(hours)]="state.daily.everyDays.hours" [(minutes)]="state.daily.everyDays.minutes" (change)="regenerateCron()">
				</app-time-picker>
			</div>
			<div class="tab">
				<mat-radio-button #radioDailyWeek value="everyWeekDay" (change)="state.daily.subTab = $event.value"></mat-radio-button>
				<span>Every working day at</span>
				<app-time-picker [disabled]="!radioDailyWeek.checked" [(hours)]="state.daily.everyWeekDay.hours" [(minutes)]="state.daily.everyWeekDay.minutes" (change)="regenerateCron()">
				</app-time-picker>
			</div>
		</mat-radio-group>
	</mat-tab>
	<mat-tab label="Weekly">
		<!-- Weekly-->
		<div class="tab">
			<span>On the</span>
			<mat-form-field color="accent">
				<mat-label>Day(s) of the Week</mat-label>
				<mat-select multiple> 
					<mat-option *ngFor="let item of getDowObject() | keyvalue" [value]="item.key">{{ item.value }}</mat-option>
				</mat-select>
			</mat-form-field>
			<span>at</span>
			<app-time-picker [(hours)]="state.weekly.hours" [(minutes)]="state.weekly.minutes" (change)="regenerateCron()">
			</app-time-picker>
		</div>
	</mat-tab>
	<mat-tab label="Monthly">
		<mat-radio-group (change)="regenerateCron()">
			<!-- Monthly-->
			<div class="tab">
				<mat-radio-button checked="true" #radioMonthlyDay value="specificDay" (change)="state.monthly.subTab = $event.value"></mat-radio-button>
				<span>On the</span>
				<mat-form-field color="accent">
					<mat-label>Day(s) of the month</mat-label>
					<mat-select multiple [disabled]="!radioMonthlyDay.checked">
						<mat-option *ngFor="let item of selectOptions.monthDaysWithLasts">{{ monthDayDisplay(item) }}</mat-option>
					</mat-select>
				</mat-form-field>
				<span>of every</span>
				<mat-form-field color="accent">
					<mat-label>Month number</mat-label>
					<input (change)="regenerateCron()" [(ngModel)]="state.monthly.specificDay.months" type="number" matInput [disabled]="!radioMonthlyDay.checked" min="1" max="12">
				</mat-form-field>
				<span>month(s) at</span>
				<app-time-picker [disabled]="!radioMonthlyDay.checked" [(hours)]="state.monthly.specificDay.hours" [(minutes)]="state.monthly.specificDay.minutes" (change)="regenerateCron()">
				</app-time-picker>
			</div>
			<div class="tab">
				<mat-radio-button #radioMonthlyWeek value="specificWeekDay" (change)="state.monthly.subTab = $event.value"></mat-radio-button>
				<span>On the</span>
				<mat-form-field color="accent">
					<mat-label>Week of the month</mat-label>
					<mat-select [disabled]="!radioMonthlyWeek.checked" (change)="regenerateCron()">
						<mat-option *ngFor="let item of selectOptions.monthWeeks" [value]="item">{{ monthWeekDisplay(item) }}</mat-option>
					</mat-select>
				</mat-form-field>
				<span></span>
				<mat-form-field color="accent">
					<mat-label>Day of the week</mat-label>
					<mat-select [disabled]="!radioMonthlyWeek.checked" (change)="regenerateCron()">
						<mat-option *ngFor="let item of selectOptions.days" [value]="item">{{ dayDisplay(item) }}</mat-option>
					</mat-select>
				</mat-form-field>
				<span>of every</span>
				<mat-form-field color="accent">
					<mat-label>Month step</mat-label>
					<input (change)="regenerateCron()" [(ngModel)]="state.monthly.specificWeekDay.months" type="number" matInput [disabled]="!radioMonthlyWeek.checked" min="1" max="12">
				</mat-form-field>
				<span>month(s) starting in</span>
				<mat-form-field color=accent>
					<mat-label>Starting Month</mat-label>
					<mat-select [disabled]="!radioMonthlyWeek.checked">
						<mat-option *ngFor="let item of selectOptions.months" [value]="item">{{ monthDisplay(item) }}</mat-option>
					</mat-select>
				</mat-form-field>
				<span>at</span>
				<app-time-picker [disabled]="!radioMonthlyWeek.checked" [(hours)]="state.monthly.specificWeekDay.hours" [(minutes)]="state.monthly.specificWeekDay.minutes" (change)="regenerateCron()">
				</app-time-picker>
			</div>
		</mat-radio-group>
	</mat-tab>
	<mat-tab label="Advanced">
		<div class="tab">
			<!-- Advanced-->
			<mat-form-field color="accent">
				<mat-label>Cron expression</mat-label>
				<input matInput type="text" class="advanced-cron-editor-input"
						(change)="regenerateCron()" [(ngModel)]="state.advanced.expression">
			</mat-form-field>
		</div>
	</mat-tab>
	<mat-tab label="One time">
		<!-- Custom date -->
		<div class="tab">
			<mat-form-field color="accent">
				<mat-label>Pick a date</mat-label>
				<input matInput [matDatepicker]="datepicker">
				<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
				<mat-datepicker #datepicker>
					<mat-datepicker-actions>
						<button mat-button matDatepickerCancel>Cancel</button>
						<button mat-raised-button color="primary" matDatepickerApply>Apply</button>
					</mat-datepicker-actions>
				</mat-datepicker>
			</mat-form-field>
			<span>at</span>
			<app-time-picker (change)="regenerateCron()">
			</app-time-picker>
		</div>
	</mat-tab>
</mat-tab-group>
<div class="row" *ngIf="!state.validation.isValid">
		<code>{{state.validation.errorMessage}}</code>
</div>