mat-tab-group {
	::ng-deep {
		.mat-tab-label {
			min-width: 50px;
		}
	}
}
.tab {
	padding: 10px 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	span, div {
		margin: 0 10px;
	}
	a {
		color: #F79058;
	}
	@media (max-width: 650px) {
		justify-content: center;
		padding: 10px 5px;
	}
}

::ng-deep {
	app-time-picker, .tiny-input {
		.mat-form-field-infix {
			width: 50px;
		}
	}
}
