@use '~@angular/material/theming';

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: fade-in 300ms ease;
	animation-fill-mode: forwards;
	transform: scale(0.4);
	opacity: 0;
	button {
		padding: 75px 0;
		max-width: 80%;
	}
	div {
		margin-bottom: 40px;
		display: flex;
		justify-content: center;
		img {
			@include theming.mat-elevation(3);
			width: 25%;
			max-width: 400px;
			height: auto;
			border-radius: 1000px;
			animation: fade-in 300ms ease;
			animation-fill-mode: forwards;
			&:first-of-type {
				margin-right: -15px;
				transform: translateX(-25px);
			}
			&:last-of-type {
				margin-left: -15px;
				transform: translateX(25px);
			}
		}
	}
}

iframe {
	width: 100%;
	height: 100vh;
}
