<div style="display: flex; align-items: center;">
	<mat-form-field color="accent">
		<mat-label>Hour</mat-label>
		<input type="number" matInput [disabled]="disabled" min="0" max="23" [(ngModel)]="hours" (change)="onChange('hours', $event.target)">
	</mat-form-field>
	<span style="margin: 0 7px;">:</span>
	<mat-form-field color="accent">
		<mat-label>Minute</mat-label>
		<input type="number" matInput min="0" max="59" [disabled]="disabled" [(ngModel)]="minutes" (change)="onChange('min', $event.target)">
	</mat-form-field>
</div>