<h1>My server messages:</h1>
<table mat-table [dataSource]="dataSource" *ngIf="api.currentGuild && discordGuild">

	<tr mat-header-row *matHeaderRowDef="columns"></tr>
	<tr mat-row *matRowDef="let row; columns: columns;" [class.disabled]="!row.activated"></tr>

	<ng-container matColumnDef="Author">
		<th mat-header-cell *matHeaderCellDef>Creator</th>
		<td mat-cell *matCellDef="let element">
			<div class="server-wrapper">
				<img *ngIf="element.creator.profile" draggable="false"
					[src]="cdn + '/avatars/' + element.creator.id + '/' + element.creator.profile + '.jpg?size=128'" />
				{{ element.creator.name }}
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="Channel">
		<th mat-header-cell *matHeaderCellDef>Channel</th>
		<td mat-cell *matCellDef="let element">#{{ getChannelName(element.channelId) }}</td>
	</ng-container>

	<ng-container matColumnDef="Description">
		<th mat-header-cell *matHeaderCellDef>Description</th>
		<td mat-cell *matCellDef="let element"> {{ element.description }} </td>
	</ng-container>

	<ng-container matColumnDef="Message">
		<th mat-header-cell *matHeaderCellDef>Message</th>
		<td mat-cell *matCellDef="let element">
			{{ element.message }}
		</td>
	</ng-container>

	<ng-container matColumnDef="Attachments">
		<th mat-header-cell *matHeaderCellDef>Attachments</th>
		<td mat-cell *matCellDef="let element">
			<div class="attachment-wrapper">
				{{ element.files.length }}
				<mat-icon class="mat-18" color="accent">attachment</mat-icon>
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="Actions" *ngIf="admin">
		<th mat-header-cell *matHeaderCellDef>Actions</th>
		<td mat-cell *matCellDef="let element">
			<mat-checkbox [(ngModel)]="element.activated" [matTooltip]="element.activated ? 'disable' : 'enable'" [matTooltipPosition]="'above'" (ngModelChange)="updateMessageState($event, element.id)"
				color="accent"></mat-checkbox>
			<button color="accent" matTooltip="edit" [matTooltipPosition]="'above'" mat-icon-button><mat-icon>edit</mat-icon></button>
			<button color="accent" matTooltip="delete" [matTooltipPosition]="'above'" mat-icon-button (click)="removeMessage(element.id)"><mat-icon>delete</mat-icon></button>
		</td>
	</ng-container>
</table>