<h1 mat-dialog-title>
  {{ discordGuild.name }}'s settings
</h1>

<div>
	<section>
		<h3>Change my server timezone:</h3>
		<div class="tz-picker">
			<mat-form-field color="accent">
				<mat-label>Timezone</mat-label>
				<input type="text" matInput [(ngModel)]="timezoneInput" autocomplete="off" (ngModelChange)="updateGuildTimezone()">
			</mat-form-field>
			<div class="autocomplete" *ngIf="(timezoneInput?.length || 0) >  2 && !timezones.includes(timezoneInput || '')">
				<ng-container *ngFor="let tz of timezones">
					<button *ngIf="tz.toLowerCase().includes(timezoneInput?.toLowerCase() || '')" mat-button (click)="timezoneInput = tz; updateGuildTimezone()">{{ tz }}</button>
				</ng-container>
			</div>
		</div>
	</section>
	<section>
		<mat-slide-toggle color="accent" [(ngModel)]="guild.scope" (ngModelChange)="updateGuildScope()">Allow all members to see programmed messages.</mat-slide-toggle><br>
	</section>
	<section>
		<mat-slide-toggle color="accent" [(ngModel)]="guild.removeOneTimeMessage" (ngModelChange)="updateOneTimeMessage()">Delete one time messages when they are sent.</mat-slide-toggle>
	</section>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Close</button>
</div>