h1 {
	text-align: center;
	font-size: 2.5rem;
	margin: 5vw 5%;
	line-height: 3rem;
}
.wrapper {
	width: clamp(1px, 60%, 400px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	.imgs {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 250ms;
		.logo {
			width: calc(50% + 50px);
			height: auto;
			transition: transform 250ms;
			transition-delay: 250ms;
			transform: scale(.8);
			&.automate {
				filter: drop-shadow(0 0 0.20rem #F79058);
			}
			&.discord {
				filter: drop-shadow(0 0 0.20rem #5870f7);
			}
		}
		&.loaded {
			opacity: 1;
			.automate {
				transform: scale(1) translateX(10%);
			}
			.discord {
				transform: scale(1) translateX(-10%);
			}
		}
	}
	a {
		margin-top: 5vw;
		display: block;
		transform: scale(0.5);
		opacity: 0;
		animation: fade-in-button;
		animation-fill-mode: forwards;
		animation-duration: 250ms;
		animation-delay: 300ms;
	}
}
@keyframes fade-in-button {
	to {
		transform: scale(1.2);
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 2rem;
		margin: 30px 5px;
	}
	.wrapper {
		a {
			margin-top: 55px;
		}
	}
}