@use '~@angular/material/theming';

.wrapper {
  width: clamp(500px, 70%, 1000px);
  margin: auto;
  padding-top: 40px;
  animation: fade-in 300ms ease;
  animation-fill-mode: forwards;
  transform: translateX(-20px);
  opacity: 0.3;

  h1 {
    text-align: left;
    margin: 20px 0;
    font-size: 2rem;
    color: whitesmoke;
  }

  img {
    width: 54px;
    height: 54px;
    border-radius: 25px;
    margin-right: 14px;
    position: relative;
    @include theming.mat-elevation(2);
		cursor: pointer;
		transition: transform 250ms;
		&:hover {
    	@include theming.mat-elevation(3);
			transform: scale(0.92);
		}
		&:active {
			transform: scale(0.87);
		}
  }

}
