@use '~@angular/material' as mat;

.wrapper {
	width: clamp(600px, 90%, 1300px);
	margin: 0 clamp(50px, 5%, 5%);
  padding-top: 40px;
  animation: fade-in 300ms ease;
  animation-fill-mode: forwards;
  transform: translateX(-20px);
  opacity: 0.3;
	@media (max-width: 650px) {
		margin: 2%;
	}
  h1 {
    text-align: left;
    margin: 20px 0;
    font-size: 2rem;
    color: whitesmoke;
		@media (max-width: 450px) {
			font-size: 1.4rem;
		}
  }

  img {
    width: 54px;
    height: 54px;
    border-radius: 25px;
    margin-right: 14px;
    position: relative;
    @include mat.elevation(2);
		cursor: pointer;
		transition: transform 250ms;
		&:hover {
    	@include mat.elevation(3);
			transform: scale(0.92);
		}
		&:active {
			transform: scale(0.87);
		}
  }

}
