.wrapper {
	height: 140vh;	
	width: clamp(500px, 70%, 1000px);
	margin: auto;
	padding-top: 25px;
	animation: fade-in 300ms ease;
	animation-fill-mode: forwards;
	transform: translateX(-20px);
	opacity: 0.3;
}
