.outer-wrapper {
	position: relative;
	width: 100%;
	.wrapper {
		width: clamp(1px, 90%, 1300px);
		margin: auto;
		padding-top: 50px;
		animation: fade-in 300ms ease;
		animation-fill-mode: forwards;
		transform: translateX(-20px);
		opacity: 0.3;
		margin-bottom: 30px;
		h1 {
			text-align: center;
			font-size: 2rem;
			white-space: normal;
			line-break: normal;
			line-height: 1.2;
		}
		@media (max-width: 650px) {
			width: clamp(1px, 95%, 1300px);
		}
	}
	.hider {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: #1b1b1b;
		transition: opacity 150ms;
		opacity: 0;
		top: 0;
		z-index: 100;
		left: 0;
		pointer-events: none;
		&.enabled {
			opacity: 1;
		}
	}	
}
