<div class="wrapper" #wrapper [class.sticky]="stickyHeader">
	<div class="left">
		<img [alt]="discordGuild.name +'\'s photo'" [src]="discordGuild.icon ? cdn + '/icons/' + api.currentGuild!.id + '/' + discordGuild.icon + '.jpg?size=128' : 'assets/discord.svg'" draggable="false">
		<h2>{{ discordGuild.name }}</h2>
	</div>
	<div class="right">
		<h3>{{ api.currentGuild!.timezone }}</h3>
		<mat-divider [vertical]="true"></mat-divider>
		<button mat-icon-button (click)="onOptionsClick()">
			<mat-icon class="mat-18">settings</mat-icon>
		</button>
	</div>
</div>