@use '@angular/material' as mat;

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: clamp(1px, 90%, 1300px);
	margin: auto;
	padding: 10px 15px;
	margin-top: 50px;
	border: 1px solid rgba(255, 255, 255, 0.12);
	border-radius: 7px;
	box-sizing: border-box;
	position: sticky;
	background-color: #1b1b1b;
	z-index: 1;
	top: 0;
	transition: all 300ms;
	mat-divider {
		height: 54px;
	}
	.quota, .guild-name, .timezone {
		display: flex;
		align-items: center;
	}
	.timezone-prefix {
		display: none;
		margin-right: 10px;
	}
	.left {
		display: flex;
		align-items: center;
		img {
			width: 54px;
			height: 54px;
			position: relative;
			border-radius: 25px;
			margin-right: 15px;
			@include mat.elevation(3);
			&::before {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0; left: 0;
				background-color: #1b1b1b;
				z-index: 50;
			}
		}
		h2, h3 {
			margin: 0;
		}
		h2 {
			margin-right: 15px;
		}
		h3 {
			margin-left: 10px;
		}
		
	}
	.right {
		display: flex;
		align-items: center;
		button {
			margin-left: 10px;
		}
		h3 {
			margin: 0;
			margin-right: 15px;
		}
	}
	&.sticky {
		width: 100%;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
		border-color: rgba(255, 255, 255, 0.12);
	}
	&::before {
		left: 0;
		top: -1px;
		width: 100%;
		height: 1px;
		background-color: #1b1b1b;
	}

	@media (max-width: 650px) {
		flex-direction: column;
    justify-content: center;
    align-items: center;
		width: clamp(1px, 95%, 1300px);
		.left, .right {
			justify-content: space-between;
			width: 100%;
			height: 50%;
			mat-divider {
				display: none;
			}
		}
		.right {
			.timezone-prefix {
				display: inline;
			}
		}
	}
	@media (max-width: 400px) {
		img {
			display: none;
		}
	}
}
