@use '~@angular/material/theming';

h1 {
	padding-top: 40px;
	text-align: left;
	margin: 20px auto;
	font-size: 2rem;
	width: clamp(600px, 90%, 1300px);
	color: whitesmoke;
	@media (max-width: 450px) {
		font-size: 1.4rem;
	}
	@media (max-width: 650px) {
		margin: 20px 5%;
	}
}

.wrapper {
	width: clamp(1px, 90%, 1300px);
	margin: auto;
	animation: fade-in 300ms ease;
	animation-fill-mode: forwards;
	transform: translateX(-20px);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.12);
	border-radius: 5px;
	opacity: 0.3;
	overflow-x: auto;
	@media (max-width: 650px) {
		width: clamp(1px, 95%, 1300px);
	}

	table {
		overflow: hidden;
		width: 100%;
		box-shadow: none;
		background-color: inherit;
		border-spacing: 5px !important;
		table-layout: auto;
		border-collapse: collapse;
		th {
			padding: 0 10px !important;
			font-size: 0.85rem;
			color: whitesmoke;
			@media (max-width: 450px) {
				font-size: .7rem;
			}
		}
	
		tr {
			transition: all 250ms;
			overflow: hidden;
			position: relative;
	
			&:last-of-type td {
				border-bottom: none;
			}
	
			td {
				padding: 4px 10px;
				vertical-align: middle;
				@media (max-width: 450px) {
					font-size: .80rem !important;
					padding: 0px 10px;
					img {
						width: 35px;
						height: 35px;
					}
				}
			}
		}

    ::ng-deep tbody tr {
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }
    }

    .server-wrapper {
      padding: 10px 0;
      display: flex;
      align-items: center;

      img {
        width: 54px;
        height: 54px;
        border-radius: 25px;
        margin-right: 14px;
				position: relative;
				@include theming.mat-elevation(3);
      }
    }
  }

}
